folium  === 0.17.0
numpy   == 1.26.2
pandas  == 2.1.4
selenium    == 4.16.0
streamlit   == 1.36.0
streamlit_folium    === 0.21.0
webdriver-manager   === 4.0.1
Office365-REST-Python-Client    === 2.5.11
streamlit-aggrid === 1.0.5
barfi   === 0.7.0